.cajita{
background: lightblue;
max-width : 50%;
margin : 0 auto;
padding : 35px;
text-align : center;
font-family : Arial;
}

.articuloBase{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}

.articuloAmarillo{
    background-color: yellow;
    color: black;
    font-weight: bold;
}
.articuloUltimo{
    background-color: black;
    color: white;
    font-weight: bold;
}