/*
BEM = Bloque Elemento Modificador

Se usa siempre CLASS no ID.

Class = aplicar estilos
Id = aplicar funcionalidad (Javascript)

.bloque
.bloque__elemento
.bloque__elemento--modificador

1. No usar ID
2. No usar etiquetas
3. Que todo sea un key selector (sellecionar justo elemento al cuál se le darán estilos)

*/

.cards{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}

.cards__card{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightskyblue ;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #ccc;
    
}

/*contexto*/ /*clave*/
.card__tittle{
    font-size: 24px;
    font-weight: bold;
}

.card__link{
    padding: 10px;
    background: green;
    color: white;
    text-decoration: none
}

.card__link--rojo{
    background-color: red;
}